@use '../util' as *;
.keybox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: rem(25);
  padding: rem(20);
  background-color: #181f32;
  border-radius: rem(10);

  &__key {
    background-color: #eae3db;
    border-radius: rem(5);
    font-size: rem(25);
    height: rem(40);
    text-align: center;
    line-height: 1.5;
    @include transition-ease;

    &:hover {
      //   color: blue;
      box-shadow: 2px 5px 0px 0px #53628a;
      font-weight: 600;
    }

    &--reset {
      grid-column: 1/3;
    }
    &--equal {
      grid-column: 3/5;
    }
  }
}
